body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
header {
  background-color: #007bff;
  color: white;
  padding: 20px;
  text-align: center;
}
.container {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow-x: hidden;
}
.city {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(20% - 40px);
  box-sizing: border-box;
  height: 100%;
  min-width: 200px;
}
.city img {
  max-width: 100%;
  border-radius: 5px;
  height: auto;
}
.city h2 {
  margin-top: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
nav ul li {
  margin-left: 10px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  background-color: #0056b3;
  padding: 10px 15px;
  border-radius: 5px;
}
nav ul li a:hover {
  background-color: #003d80;
}
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}

.intro {
  text-align: center;
  padding: 20px;
  background-image: url("https://static.toiimg.com/photo/msid-99604289.cms");
  background-size: cover;
  background-position: center;
  color: white;
}

.intro h1 {
  color: black;
  font-size: 2.5em;
  margin-bottom: 10px;
}

.intro p {
  max-width: 600px;
  margin: 0 auto;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
  line-height: 1.6;
  margin-top: 10px;
}